@import './app/assets/scss/foundation';

$default-icon-size: 5rem;
$large-icon-size: 10rem;

.icon {
  width: $default-icon-size;
  height: $default-icon-size;
  fill: currentColor;
}

.icon--blue {
  color: color(blue);
}

.icon--large {
  width: $large-icon-size;
  height: $large-icon-size;
}
