<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Threads</title>
    <meta name="description" content="Components built for React.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (styles) { %>
      <link rel="stylesheet" type="text/css" href="<%= styles %>">
    <% } %>
  </head>
  <body>
    <% include icons %>

    <div id="root"></div>

    <script async src="<%= script %>"></script>
  </body>
</html>